INSTALL AND IMPORT THE FOLLOWING LIBRARIES:

import streamlit as st
from streamlit_option_menu import option_menu
import plotly.express as px
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import base64
import plotly.graph_objects as go
import time
